@import '../style/variables.scss';

.card-wrapper {
    display: flex;
    flex-direction: column;
    background-color: $dark;
    width: 300px;
    min-width: 300px;
    height: 400px;
    border-radius: 10px;
    border: 2px solid $dark;
    color: $lightTan;
    margin-right: 10px;
    margin-top: 10px;
    
    .card-title, .card-type {
        width: 100%;
        margin-top: 5px;
        text-align: center;
        text-transform: capitalize;
    }
    
    .card-title {
        font-size: 24px;
        font-weight: bold;
        font-family: 'Rokkitt';
    }
    
    .card-description {
        background-color: $lightTan;
        color: $dark;
        margin: 15px 5px;
        padding: 5px;
        border-radius: 3px;
        flex-grow: 1;
    }
    
    .card-actions {
        display:flex;
        flex-direction: row;
        
        .action {
            border: 2px solid $lightTan;
            border-radius: 3px;
            padding: 5px;
            flex-grow: 1;
            text-align: center;
            margin: 5px;
            
            &:active {
                color: $dark;
                background-color: $lightTan;
            }
        }
    }
}