@import 'variables';

.modal-body {
        margin-left: 20px;
        margin-right: 50px;
        
        .modal-option {
            margin-bottom: 10px;
            display: flex;
            
            &.hide {
                display: none;
            }
            
            .modal-input {
                display: flex;
                flex-grow: 1;
                justify-content: flex-end;
                
                select {
                    option {
                        text-transform: capitalize;
                    }
                }
            }
        }
    
        .traits {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;

            .trait {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: center;
                
                span {
                    font-weight: bold;
                    text-transform: capitalize;
                }
                
                input {
                    display: inline-block;
                    width: 25px;
                    margin: auto;
                    text-align: center;
                }
            }
        }
    
        .modal-option-multi-select {
            display: flex;
            margin-bottom: 10px;
            flex-direction: column;
            border: 2px solid $light;
            border-radius: 5px;
            
            &:hover {
                background-color: $darkHover;
            }
            
            .dropdown-button {
                padding: 0 10px;
                display: flex;
                flex-direction: row;
                
                h3 {
                    display: flex;
                    flex-grow: 1;
                }

                .arrow {
                    transform: rotate(-90deg);
                    font-size: 30px;
                    
                    &.flip {
                        transform: rotate(90deg);
                        margin-right: 20px;
                    }
                }
            }
            
            .dropdown-list {
                background-color: $light;
                color: $dark;
                
                .skill {
                    margin: 5px 0;
                    
                    span {
                        padding: 0 5px;   
                        text-transform: capitalize;
                        display: inline-block;
                    }
                    
                    input {
                        width: 25px;
                        text-align: center;
                    }
                    
                    &.selected {
                        background: $highlight;
                    }
                }
                
                .modal-option {
                    margin: 5px 3px;
                }
            }
        }
    .horizontal-buttons{
        display: flex;
        flex-direction: row;
    
        .button {
            margin-right: 10px;
            text-align: center;
            min-width: 60px;
            padding: 5px;
            border: 2px solid $light;
            border-radius: 5px;
            background: $dark;
            color: $light;
            
            &:active{
                background-color: $light;
                color: $dark;
            }
        }
    }
}

.hide {
    display: none;
}