@import 'variables';

#in-the-cards {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto';
    background-color: $lightTan;
    overflow-y: scroll;

    header {
        background-color: $lightTan;
        height: 60px;
        padding: 5px; 
        display: flex;
        color: $light;
        z-index: 3;

        #menu-icon {
            margin: 10px;
            margin-right: 25px;
            
            svg {
                fill: #051326;
            }
        }
        
        #in-the-cards-banner {
            margin-top: 7px;
            img {
                width:400px;
            }
        }
    }
    #itc-menu-container {
        background-color: $lightTan;
        padding: 0 10px;
        position: absolute;
        height: calc(100vh - 70px);
        z-index: 10;
        
        .itc-menu, .itc-rules-submenu{
            list-style: none;
            padding-left: 10px;
            color: $darkBlue;
            
            
            .itc-menu-item {
                font-family: 'Rokkitt';
                font-size: 26px;
                margin-bottom: 10px;
                margin-right:10px;
            }
            
            .itc-submenu-item {
                font-size: 18px;
                padding: 5px 0;
            }
            
            a {
                color: unset;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    .itc-container {
        .card-options-menu {
            display: flex;
            flex-direction: row;
            height: 40px;

            .card-option {
                flex-grow: 1;
                text-align: center;
                border: 2px solid #242528;
                border-radius: 3px;
                margin: 3px;
                padding-top: 6px;
                font-weight: 700;
                text-transform: capitalize;

                &.selected {
                    background-color: $darkBlue;
                    color: $lightTan;
                }
            }
            
        }

        .card-display {
            display: flex;
            justify-content: center;
            padding: 0 20px;
            margin: 20px 0;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .reset-deck {
            position: fixed;
            bottom: 10px;
            right: 10px;
            width: 60px;
            cursor: pointer;
            padding: 20px 10px;
            border: 2px solid $light;
            color: $light;
            font-weight: 700;
            text-align: center;
            border-radius: 10px;
            background: $deleteRed;
        }
    }

    .cover {
        z-index: 2;
        background: #000;
        width: 100%;
        height: calc(100vh - 70px);
        opacity: 30%;
        position: absolute;
    }
    
    .blur {
        z-index: 1;
        filter:blur(3px);
    }
}

@media only screen and (max-width: 600px) {
    #in-the-cards {
        header {
            position: fixed;
            top: 0px;
            width: 100vw;
            
            #in-the-cards-banner {
                margin-top: 10px;
                img {
                    width:300px;
                }
            }
        }
        
        .itc-container, .cover {
            margin-top: 70px;
        }

        #itc-menu-container {
            top:70px;
            position: fixed;
        }
    }
}

