@import 'variables';

.inventory-list {
    text-transform: capitalize;
    color: $dark;
    padding-bottom: 10px;
    
    h3 {
        margin: 10px 0;
        color: $light
    }
}

.inventory {
    max-width: 1200px;
    margin: 0 auto;
    
    div[class*="display"] {
        color: $light;
        background: $dark;
        border-radius: 10px;
        padding: 5px;
        margin-top: 5px;
        
        .item {
            background: $light;
            color: $dark;
            display: flex;
            flex-direction: row;
            margin-bottom: 5px;
            padding: 5px;
            border-radius: 5px;
            
            .buttons {
                display: flex;
                flex-direction: row;
                padding-left: 5px; 
                    
                .button {
                    margin: 3px;
                    border-radius: 3px;
                    padding: 5px;
                    padding-bottom: 0;
                    cursor: pointer;
                    
                    &:active {
                        opacity: 70%;
                    }
                }
                
                .equip {
                    background: $dark;
                    color: $light;
                }
                
                .remove, .subtract {
                    background: $deleteRed;
                    color: $light;
                }
                
                .extend {
                    display: flex;
                    .arrow {
                        transform: rotate(-90deg);
                        font-weight: bold;
                        font-size: 20px;
                    
                        &.flip {
                            transform: rotate(90deg);
                        }
                    }
                }
                
            }
            
            .quantity {
                margin-left:auto;
                padding-right: 5px;
                border-right: 2px solid $dark;
                
                .button {
                    font-weight: bold;
                    padding: 5px 10px;
                }
                
                .add {
                    background: $highlight;
                }
                
                .quantity-text {
                    margin-top: 8px;
                }
            }
            
            .name {
                font-weight: bold;
                text-transform: capitalize;
                margin-top: 8px;
            }
        }
        
        h2 {
            margin: 5px;
        }
    }
}