@import 'variables';

.modal-body {
        margin-left: 20px;
        margin-right: 50px;
        font-weight: bold;
        
        .modal-option {
            margin-bottom: 10px;
            display: flex;
            
            &.hide {
                display: none;
            }
            
            .modal-input {
                display: flex;
                flex-grow: 1;
                justify-content: flex-end;
            }
        }
        
        .modal-option-multi-select {
            display: flex;
            margin-bottom: 10px;
            flex-direction: column;
            border: 2px solid $light;
            border-radius: 5px;
            
            &:hover {
                background-color: $darkHover;
            }
            
            .skill-dropdown-button {
                padding: 0 10px;
                display: flex;
                flex-direction: row;
                
                h3 {
                    display: flex;
                    flex-grow: 1;
                }

                .arrow {
                    transform: rotate(-90deg);
                    font-size: 30px;
                    
                    &.flip {
                        transform: rotate(90deg);
                        margin-right: 20px;
                    }
                }
            }
            
            .skills-list {
                background-color: $light;
                color: $dark;
                
                &.hide {
                    display: none;
                }
                
                .skill {
                    text-transform: capitalize;
                    padding: 5px 5px;
                    
                    &.selected {
                        background: $highlight;
                    }
                }
            }
        }
    .horizontal-buttons{
        display: flex;
        flex-direction: row;
    
        .button {
            margin-right: 10px;
            text-align: center;
            width: 60px;
            padding: 5px;
            border: 2px solid $light;
            border-radius: 3px;
            
            &:active{
                background-color: $light;
                color: $dark;
            }
        }
    }
}