@import 'variables';

.content-wrapper {
    display: flex;
    background-color: $dark;
    z-index: 2;
    max-width: 700px;
    height: calc(100vh - 70px);
    color: $light;
    flex-direction: column;
    margin:auto;
    overflow-y: scroll;
    
    .modal-title {
        display: flex;

        h2{
            margin-left: 20px;
        }
        
        .close-button {
            position: absolute;
            right: 20px;
            padding-top: 20px;
            font-size: 25px;
            
            &:hover{
                cursor:pointer;
            }
        }
    }
    
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $dark; 
    }
 
    &::-webkit-scrollbar-thumb {
        background: $light; 
    }
}